
<div>
<mat-toolbar color="primary"> 
  <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
 <h1> MY ED </h1>
 <button mat-icon-button [mat-menu-trigger-for]="search">
    <mat-icon>search</mat-icon>
  </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item  routerLink="/home"> <mat-icon>home</mat-icon> Home</button>
    <button mat-menu-item  routerLink="/clinical"><mat-icon>local_hospital</mat-icon> Clinical Information</button>
    <button mat-menu-item routerLink="/general"><mat-icon>info</mat-icon> General Information</button>
    <button mat-menu-item  routerLink="/feedback"> <mat-icon>mood</mat-icon>Feedback</button>
    <button mat-menu-item  routerLink="/contact"> <mat-icon>call</mat-icon>Contact</button>
  </mat-menu>

  <mat-menu x-position="before" #search="matMenu">
          <input  mat-menu-item matInput placeholder="Search...">
    </mat-menu>
  
</div>
  