h1{ 
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    margin: 0 auto;
    color: #37474F;
    padding-left: 100px;
}

mat-toolbar-row {
    justify-content: space-between;
  }

  mat-icon{
    color:white;
  }

  input{
    font-family: 'Catamaran', sans-serif; 
    font-size: 15px;
    width: 10em;
    color: white;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
  }
  
  input :focus{
    outline: none;
  }

::-webkit-input-placeholder {
  text-align: left;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px; 
  color: white;
}


  span {
      text-align: center;
      margin: 0 auto;
  }

  button {
    font-family: 'Signika', sans-serif;
}
