
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Catamaran|Signika&display=swap');

h3 {
  text-align: center;
  margin: 0 0 auto;
  font-family: 'Signika', sans-serif;
  padding-top: 20px;
}

mat-toolbar {
  text-align: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
}

h2{
  text-align: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 20px; 
  size: 30px;
  font-family: 'Signika', sans-serif;
  color: #37474F;
}

button{
    width: 300px;
    height: 200px;
    border: thick;
    border-radius: 3px;
    border-color: black;
    
}

.but {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}



.img {
    width: 100%;
  }

.card-picture {
    width: 23%;
    margin-bottom: 2%;
  }


  .statistics {
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto
  }

  div{
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    margin-top: 4em;
    margin-left: 45%;
    margin-bottom: 6em;
    background-color: #eee;
    width: 10% ;
    height: 2.5em;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
    color: #37474F;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }


  .example-action-button {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    align-content: center;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-top: 20px;
    margin-left: 16px;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px; 
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;    
    font-size: 14px;
    width: 100%;
  } 



  .waitingTime {
    width: 100%;
  }

  .links {
    text-align: center;
  }

  #statistics {
    width: 50%;
    padding:1px;
    border:1px solid #021a40;
    margin-bottom: 20px;
  }

  .imgCenter {
    text-align: center;
  }

  #button2 {
    width: 10%;
  }

  table {
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  p {
      margin: 0 auto;
      font-family: 'Catamaran', sans-serif;    
      font-size: 16px;
      text-align: center;
  }