<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<app-navbar></app-navbar>
<h1>{{title}}</h1>
<div class="container">
<h3>Clinical</h3>
<hr />

<form [formGroup]="clinicalForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whatIs">What Is</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="whatIs">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whatCauses">What Causes</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="whatCauses">
        </div>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class=" btn btn-primary">Save</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>

<app-footer></app-footer>
</div>