<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<app-navbar></app-navbar>
<h1>{{title}}</h1>
<div class="container">
<h3>Clinical</h3>
<hr />

<form  [formGroup]="clinicalForm" (ngSubmit)="submit()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whatIs">What Is</label>
        <div class="col-md-10">
          <input class="form-control" type="text" formControlName="whatIs">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="symptons">Symptons</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="symptons">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="treatment">Treatment</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="treatment">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="homeCare">Home Care</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="homeCare">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whatToExpect">What To Expect</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="whatToExpect">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="seekingHelp">Seeking Help</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="seekingHelp">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="wantToKnowMore">Want To Know More</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="wantToKnowMore">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="waysToReduce">Ways To Reduce</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="waysToReduce">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="followUp">Follow Up</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="followUp">
        </div>
    </div>
     <div class="form-group row">
        <label class="control-label col-md-12" for="prevention">Prevention</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="prevention">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whyDoesThisHappen">Why Does This Happen</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="whyDoesThisHappen">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="returnImmedIf">Return Immediately if</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="returnImmedIf">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="instructions">Instructions</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="instructions">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="whyIsItAProb">Why is it a Problem</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="whyIsItAProb">
        </div>
    </div>
     <div class="form-group row">
        <label class="control-label col-md-12" for="whatShouldIDo">What Should I do</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="whatShouldIDo">
        </div>
    </div>
     <div class="form-group row">
        <label class="control-label col-md-12" for="howIsItSpread">How is it spread</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="howIsItSpread">
        </div>
    </div>
     <div class="form-group row">
        <label class="control-label col-md-12" for="stoppingSpread">Stopping spread</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="stoppingSpread">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="probsToWatchFor">Problems to watch out for</label>
        <div class="col-md-10">
            <input class="form-control" type="text" formControlName="probsToWatchFor">
        </div>
    </div>
    <hr />
    <div class="form-group">
        <button class=" btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger"type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

</div>

<app-footer></app-footer>