/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Catamaran|Signika&display=swap');
body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px; 
    size: 30px;
    font-family: 'Signika', sans-serif;
}


