.search-result li {
  border-bottom: 1px solid #455A64;
  border-left: 1px solid #455A64;
  border-right: 1px solid #455A64;
  width: 295px;
  height: 36px;
  padding: 5px;
  background-color: #37474F;
  color:white;
  cursor: pointer;
  list-style-type: none;
  margin: auto;
  font-family: 'Catamaran', sans-serif; 
  width: 50%;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 20px; 
  size: 30px;
  font-family: 'Signika', sans-serif;
  color: #37474F;
}

.search-result li:hover {
  background-color: #607D8B;
  color: white;
}

.search-result li a {
  color: white;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 50%;
  height: 40px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px; 
}

::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px; 
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}