<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<app-navbar></app-navbar>

<h1>Contact</h1>
<div class="container">
  <table>
<tr>
<td width="50%">
   <h2>Contact us</h2>
   <br>Location: Ground floor, Dr James Mayne Building
   <br>Phone: (07) 3646 8111
   <br>Fax: (07) 3646 8732
   <br>
   <br><span>Patient Liaison Officer</span>
   <br>Phone: (07) 3646 8216
   <br>Email: RBWH-PLS@health.qld.gov.au
   
    <h2> Need help outside hours? </h2>
    For non-urgent medical issues call 13 HEALTH (13 43 25 84) or visit your GP.
    
    <br>In an emergency call 000.
    
    <h2> Refer a patient </h2>
    GPs and specialists in the community and in other hospitals can refer a patient by calling the emergency physician “on the floor” via hospital switch on (07) 3646 8111.</td>
<td width="50%">
  {{map}}
</td>
</tr>
</table>
<app-footer></app-footer>
</div>