<app-navbar></app-navbar>

<div> 
        <mat-card routerLink="/clinical">
        <mat-card-title>Clinical Information </mat-card-title> 
        <mat-card-content><mat-icon>local_hospital</mat-icon></mat-card-content> 
        </mat-card>
        
        <mat-card routerLink="/general">
          <mat-card-title>General Information </mat-card-title>
          <mat-card-content><mat-icon>info</mat-icon></mat-card-content> 
        </mat-card>
        
        <mat-card routerLink="/feedback"> 
                <mat-card-title>Feedback </mat-card-title>
                <mat-card-content><mat-icon>mood</mat-icon> </mat-card-content>
        </mat-card>
        
        <mat-card routerLink="/contact">
                <mat-card-title>Contact </mat-card-title>
                <mat-card-content><mat-icon>call</mat-icon> </mat-card-content>
        </mat-card>
</div>
<app-footer></app-footer>