<script src="https://surveyjs.azureedge.net/1.1.15/survey.jquery.min.js"></script>


      <app-navbar></app-navbar>
      <h1>Feedback</h1>

      <div class ="image">
                  <h3> Your feedback matters to us! Please use the form below to send us your comments. We read all feedback carefully. </h3>
      </div> 
      <div class="content">   
 
      <app-survey></app-survey>
      <button class="btn btn-primary" title="Return home" routerLink="/home"> <mat-icon>home</mat-icon></button>  
      </div>
   
     <app-footer></app-footer>
