<script src="https://surveyjs.azureedge.net/1.1.15/survey.jquery.min.js"></script>


      <app-navbar></app-navbar>
      <h1>Feedback</h1>
      
      <h3> Your feedback matters to us! Please use the form below to send us your comments. We read all feedback carefully. </h3>
      
      <div class="content">
      <app-survey></app-survey>
      </div>
      <button class="btn btn-primary" class="addMore" title="Return home" routerLink="/home"> <mat-icon>home</mat-icon></button>  

   
     <app-footer></app-footer>
