button {
    margin-top: 4em;
    margin-bottom: 6em;
    background-color: #eee;
    width: 5% ;
    margin-left: 47.5%;
    height: auto;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: 'Signika', sans-serif;
    color:#37474F;
  }
  .icon{
    width: 50px;
    margin: 0 auto;
    color: #37474F;
  }
  
 .container {
   width: 100%;
 }

  button:hover{
    background-color: #37474F;

}

  .info {
   margin: 0 auto;
   width: 97%;
  font-family: 'Catamaran', sans-serif; 
  font-size: 14px;
  }

  .text{
    font-family: 'Catamaran', sans-serif; 
    font-size: 14px;
  }

  label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #37474F;
    font-weight: bold;
  }
  .tool {
    text-align: left;
    background-color: #37474F;
    width: 97%;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  mat-toolbar {
  text-align: left;
  background-color: #37474F;
  width: 100%;
  margin: 0 auto; 
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{
   list-style-type: none;
}

li {
  padding-top: 5px;
  padding-bottom: 10px;
}

mat-toolbar-row{
  vertical-align: middle; 
}

  h2 {
    text-align: center;
    vertical-align: middle;
    margin: 20 0 auto;
    font-size: 24px;
    font-family: 'Signika', sans-serif;
  }

  h1 {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 20px; 
    size: 30px;
    font-family: 'Signika', sans-serif;
    color: #37474F;
  }